In [3]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(42)
years = np.arange(2000, 2021)

In [5]:
data = {
    "Year": years,
    "GDP": np.random.uniform(1000, 3000, size=len(years)).round(2),
    "GDP_PerCapita": np.random.uniform(5000, 15000, size=len(years)).round(2),
    "GDP_Growth": np.random.uniform(1.0, 6.0, size=len(years)).round(2),
    "Inflation": np.random.uniform(1.0, 10.0, size=len(years)).round(2),
    "Unemployment": np.random.uniform(3.0, 12.0, size=len(years)).round(2),
    "Inflation_Change": np.random.uniform(-2.0, 2.0, size=len(years)).round(2),
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head()

,Year,GDP,GDP_PerCapita,GDP_Growth,Inflation,Unemployment,Inflation_Change
0,2000,1749.08,6394.94,1.17,4.21,5.80,-1.00
1,2001,2901.43,7921.45,5.55,3.53,5.93,-0.36
2,2002,2463.99,8663.62,2.29,5.88,9.57,1.02
3,2003,2197.32,9560.70,4.31,2.27,8.74,-1.08
4,2004,1312.04,12851.76,2.56,8.22,10.98,-1.69

In [8]:
df.shape

(21, 7)

In [9]:
df.to_csv("EcoOfUs.csv")